react/build/*
monopoly

README.md

Dockerfile
docker-compose.yml
Makefile

.git/*
.gitignore
.gitlab-ci.yml

server/bindata.go
server/proto/*.pb.go

react/src/*.pb.js

react/node_modules/*
server/vendor/*